### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Folders ###
dataset/
output/
other_dataset/

### Jupyter ###
.ipynb_checkpoints

### .pem ###
*.pem

### .sh ###
*.sh
