### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Dataset ###
dataset/
dataset_raw/
output/
plot/

### Jupyter ###
.ipynb_checkpoints

### .pem ###
*.pem

### .sh ###
*.sh

### .gitignore ###
*.gitignore